/.cache/
/backups/
/.env
/.env.app
/.env.app.*
!/.env.app.example
!/.env.app.production.example
!/.env.app.staging.example
/.env.load-balancer
/.env.load-balancer.*
!/.env.load-balancer.example
!/.env.load-balancer.production.example
!/.env.load-balancer.staging.example
/.env.production
/.env.production.*
!/.env.production.example
/.idea/
/.vscode/
*.log
.DS_Store
Thumbs.db
/tests/browser/node_modules/
/tests/browser/report/
/tests/browser/test-results/
