includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 7
    paths:
        - app
        - bootstrap
        - routes
        - tests
    tmpDir: storage/framework/cache/phpstan

